@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-gray-50 text-slate-800;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

a {
  @apply text-primary;
}

button:disabled {
  @apply opacity-70 cursor-not-allowed;
}


